{% extends "base.njk" %}

{% block content %}
<div class="model-content">
  <div class="model-description">
    {{ content | safe }}
  </div>
  <script type="module" src="/portfolio-site/js/threejs-model.js"></script>
</div>
{% endblock %}
